<footer class="footer-container position-relative">
  <div class="social-container text-center position-absolute p-2 p-lg-0 pt-lg-3 mt-lg-1">
    <div class="links d-flex flex-lg-column flex-row" *ngFor="let social of socials">
      <a href="{{social.link}}" class="text-decoration-none d-inline-block d-lg-blok px-3 px-lg-0"><i class="{{social.icon}}"></i></a>
    </div>
  </div>
  <div class="container px-3">
    <div class="row">
      <div class="col-lg-9 offset-lg-3">
        <div class="row">
          <div class="col-md-4 mb-3 mb-md-0" *ngFor="let itemMenu of menu">
            <div class="footer-item mb-4 mb-md-0">
              <ul class="list-unstyled mb-0"  *ngFor="let page of itemMenu.pages">
                <li class="d-block mb-2"><a class="text-decoration-none d-inline-block px-1" href="{{page.link}}">{{page.name}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright position-absolute text-center text-md-start">
    Copyright &copy; {{year}} All rights reserved.<br>This template is made with
    <i class="fa fa-heart-o" aria-hidden="true"></i>
    by <a href="https://colorlib.com" target="_blank" class="text-decoration-none">Colorlib</a>
  </div>
</footer>
