<header class="header-container position-absolute w-100">
  <a href="" class="logo-arcade d-inline-block float-start">
    <img src="assets/images/logo.png" alt="">
  </a>
  <div class="menu-bars d-block d-md-none position-absolute" (click)="toggleMenu()">
    <i class='fa fa-bars'></i>
  </div>
  <div class="phone-number d-none d-md-inline-block fw-bold float-end me-xl-5">+675 334 567 223</div>
  <nav class="nav-menu d-md-inline-block float-end" [class]="toggle ? 'd-block' : 'd-none'">
    <ul class="list-unstyled p-0 m-0">
      <li class="li-menu d-inline" *ngFor="let itemMenu of menu; let index = index" id="{{itemMenu.slug}}" [class.active]="active === itemMenu.slug">
        <a href="{{itemMenu.slug}}" class="d-block d-md-inline-block text-uppercase position-relative text-decoration-none">
          {{itemMenu.name}}
        </a>
      </li>
    </ul>
  </nav>
</header>
