<section class="contact-form-container">
  <div class="container px-3 contact-form">
    <div class="title pt-5">
      <h1 class="d-inline-block mb-0 fw-bold">Get in touch</h1>
    </div>
    <div class="row">
      <div class="col-lg-3 contact-info mb-5 mb-lg-0 info">
        <p>Address: 1481 Creekside Lane Avila Beach, CA 93424 </p>
        <p>Phone: +53 345 7953 32453</p>
        <p>Email: yourmail@gmail.com</p>
        <div class="social-links mt-5">
          <a href="#" class="me-4 text-decoration-none"><i class="fa fa-google-plus"></i></a>
          <a href="#" class="me-4 text-decoration-none"><i class="fa fa-pinterest"></i></a>
          <a href="#" class="me-4 text-decoration-none"><i class="fa fa-facebook"></i></a>
          <a href="#" class="me-4 text-decoration-none"><i class="fa fa-twitter"></i></a>
        </div>
      </div>
      <div class="col-lg-9">
        <form [formGroup]="form" class="form pt-2" (ngSubmit)="sendForm($event)">
          <div class="input-container">
            <input class="w-100 border-0" type="text" placeholder="Asunto" formControlName="subject" [class.input-invalid]="isSubjectValid">
            <span *ngIf="isSubjectValid" class="required text-left">Este campo es requerido</span>
          </div>

          <div class="input-container">
            <input class="w-100 border-0" type="email" placeholder="Correo" formControlName="email" [class.input-invalid]="isEmailValid">
            <span *ngIf="email!.errors && email!.errors['required'] && email!.touched" class="required text-left">Este campo es requerido</span>
            <span *ngIf="email!.errors && email!.errors['email'] && email!.touched" class="required text-left">Este campo debe ser un correo valido</span>
          </div>

          <div class="input-container">
            <input class="w-100 border-0" type="text" placeholder="Teléfono" formControlName="telephone">
          </div>
          <div class="input-container mb-4">
            <textarea class="w-100 border-0" placeholder="Mensaje" formControlName="message" [class.input-invalid]="isMessageValid"></textarea>
            <span *ngIf="isMessageValid" class="required text-left">Este campo es requerido</span>
          </div>
          <div class="input-container mb-4 mt-3 pb-3">
            <div>
              <input id="checkbox" name="checkbox" class="checkbox" type="checkbox" formControlName="checkConditions" [class.input-invalid]="isCheckConditionsValid">
              <label for="checkbox" class="ms-3 checkbox">Términos y condiciones</label>
            </div>
            <span *ngIf="isCheckConditionsValid" class="required text-left">Este campo es requerido</span>
          </div>
          <button type="submit" class="btn-sent d-inline-block fw-bold text-center position-relative me-3">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>
