<div class="client-slider-container">
  <div class="container px-3">
    <div class="client-slider">
      <div class="owl-carousel owl-carousel-c">
        <div class="client-slider d-table w-100">
          <a class="d-table-cell text-decoration-none text-center align-middle" href="#">
            <img src="assets/images/client/1.png" alt="">
          </a>
        </div>
        <div class="client-slider d-table w-100">
          <a class="d-table-cell text-decoration-none text-center align-middle" href="#">
            <img src="assets/images/client/2.png" alt="">
          </a>
        </div>
        <div class="client-slider d-table w-100">
          <a class="d-table-cell text-decoration-none text-center align-middle" href="#">
            <img src="assets/images/client/3.png" alt="">
          </a>
        </div>
        <div class="client-slider d-table w-100">
          <a class="d-table-cell text-decoration-none text-center align-middle" href="#">
            <img src="assets/images/client/4.png" alt="">
          </a>
        </div>
        <div class="client-slider d-table w-100">
          <a class="d-table-cell text-decoration-none text-center align-middle" href="#">
            <img src="assets/images/client/5.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
