.hero-container {
  height: 960px;
  background: #ededed;

  .slider {
    .slide-item {
      height: 960px;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.8;
      transition: all ease-in-out 0.6s;

      .slide-inner {
        transition: all ease-in-out 0.6s;

        .slide-content {
          margin-left: 350px;
          padding: 170px 0 70px 190px;
          transition: all ease-in-out 0.6s;

          h2 {
            color: #fff;
            font-size: 80px;
            line-height: 80px;
          }

          .btn-see-project {
            color: #fff;
            border: 4px solid;
            min-width: 200px;
            padding: 19px 0;
            margin-right: 15px;
            z-index: 1;
          }

          .btn-see-project:after, .btn-see-project:before {
            position: absolute;
            content: "";
            width: 26px;
            height: 4px;
            right: -15px;
            background: #fff;
          }

          .btn-see-project:before {
            bottom: 18px;
          }

          .btn-see-project:after {
            bottom: 8px;
          }
        }

        .slide-content:after {
          position: absolute;
          content: "";
          height: calc(100% + 3rem);
          width: 330px;
          border-top: 150px solid #baff00;
          border-left: 150px solid #baff00;
          border-bottom: 90px solid #baff00;
          top: 0;
          left: 0;
          opacity: 0.73;
        }
      }
    }

    .slide-item.active {
      display: table;
      opacity: 1;
    }

    .container-controls {
      .controls {
        left: 350px;
        bottom: 70px;

        .carousel-control {
          margin-right: 30px;
          font-size: 14px;
          color: #fff;
          letter-spacing: 1px;
          transition: all 0.4s;
          cursor: pointer;
        }

        .carousel-control:hover {
          color: #baff00;
        }
      }
    }
  }

  .slide-number {
    width: 153px;
    height: 250px;
    right: 60px;
    background: rgba(18, 18, 18, 0.95);
    bottom: -40px;
    z-index: 111;
    padding-right: 20px;
    padding-top: 60px;
    color: #fff;

    span {
      font-size: 48px;
      color: #baff00;
      top: -10px;
      right: -10px;
    }
  }

  .right-text {
    right: 140px;
    transform: rotate(-90deg);
    transform-origin: right center;
    bottom: 60%;
    z-index: 30;
    color: #fff;
    letter-spacing: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-container .slider .carousel-inner .slide-item .slide-inner .slide-content {
    margin-left: 220px;
  }

  .hero-container .slide-number {
    right: 20px;
  }

  .hero-container .right-text {
    right: 100px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .hero-container {
    height: auto;

    .slider .carousel-inner .slide-item .slide-inner .slide-content {
      margin-left: 170px;
      margin-bottom: -35px;
      padding: 120px 0 30px 120px;

      h2 {
        font-size: 60px;
        line-height: 60px;
      }
    }

    .slider .carousel-inner .slide-item .slide-inner .slide-content:after {
      border-top: 100px solid #baff00;
      border-left: 100px solid #baff00;
      border-bottom: 60px solid #baff00;
    }

    .slide-number {
      right: 20px;
    }

    .right-text {
      bottom: 70%;
      right: 100px;
    }
  }
}


@media only screen and (max-width: 767px) {
  .hero-container {
    height: auto;

    .slider {
      .carousel-inner .slide-item {
        padding: 150px 0;
        height: auto;

        .slide-inner {
          width: 100%;
          justify-content: center;

          .slide-content {
            margin-left: 70px;
            padding: 0;
            text-align: center;

            h2 {
              font-size: 60px;
              line-height: 60px;
            }
          }

          .slide-content:after {
            display: none;
          }
        }
      }

      .container-controls .controls {
        padding-left: 70px;
        width: 100%;
        left: 0;
      }
    }

    .slide-number {
      right: 0;
      height: 75px;
      width: 136px;
      padding-top: 18px;

      span {
        font-size: 40px;
      }
    }

    .right-text {
      display: none;
    }
  }
}

@media only screen and (max-width: 479px) {
  .hero-container {
    height: auto;

    .slider {
      .carousel-inner .slide-item {
        padding: 150px 0;
        height: auto;

        .slide-inner {
          width: 100%;
          justify-content: center;

          .slide-content {
            margin-left: 0;
            padding: 0 15px;

            h2 {
              font-size: 35px;
              line-height: 1.5;
            }
          }
        }
      }

      .container-controls .controls {
        padding-left: 0;
      }
    }
  }
}

