.introduction-container {
  padding-top: 100px;

  .introduction-text {
    .title {
      font-size: 60px;
      margin-bottom: 40px;

      span {
        background: #baff00;
        color: #222222;
      }
    }

    p {
      font-size: 15px;
      color: #727272;
      line-height: 2;
    }

    .btn-see-project {
      border: 4px solid;
      min-width: 200px;
      padding: 19px 0;
      background-color: transparent;
      z-index: 1;
      color: #222222;
    }

    .btn-see-project:after, .btn-see-project:before {
      position: absolute;
      content: "";
      width: 26px;
      height: 4px;
      right: -15px;
      background: #222222;
    }

    .btn-see-project:before {
      bottom: 18px;
    }

    .btn-see-project:after {
      bottom: 8px;
    }
  }

  .img-container {
    .introduction-img {
      max-width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .introduction-container {
    .introduction-text {
      .title {
        font-size: 45px;
      }
    }
  }
}
