.projects-container {
  .section-title {
    margin-bottom: 75px;

    h1 {
      background: #baff00;
      padding: 0 20px;
      font-size: 60px;
    }
  }
  .projects-filter {
    margin-top: 20px;

    li {
      color: #747474;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      transition: .4s;

      &.btn-active {
        background: #baff00;
        color: #222222;
      }
    }
  }

  .projects-slider {
    padding: 0 40px;
    margin-top: 60px;

    .single-project {
      background: #333;
      transition: .8s;
      transform: translateX(0);
      opacity: 1;
      display: block;
      height: 550px;
      width: 100%;
      background: no-repeat;

      .project-content {
        background: rgba(13, 13, 13, 0.5);
        transition: all 0.4s ease 0s;
        opacity: 0;

        h2 {
          color: #fff;
          font-weight: 500;
          top: 20px;
          transition: all 0.6s ease 0s;
        }

        p {
          color: #baff00;
          font-weight: 500;
          top: 40px;
          transition: all 0.4s ease 0s;
          line-height: 2;
        }

        .see-more {
          right: 50px;
          bottom: 30px;
          background: #baff00;
          font-size: 14px;
          color: #222;
          padding: 2px 8px;
          transition: all 0.4s ease 0s;
        }
      }
    }

    .single-project:hover {
      .project-content {
        opacity: 1;

        h2 {
          top: 0;
        }

        p {
          top: 0;
        }

        .see-more {
          bottom: 50px;
        }
      }
    }
  }

  .owl-controls {
    .owl-nav {
      max-width: 1170px;
      margin: 40px auto 0;

      .owl-prev, .owl-next {
        margin-right: 20px;
        font-size: 14px;
        color: #222222;
        letter-spacing: 1px;
        transition: all 0.4s;
        cursor: pointer;
      }

      .owl-prev:hover {
        background: #baff00;
      }

      .owl-next:hover {
        background: #baff00;
      }
    }
  }
}
