.left-bar-container {
  width: 100px;
  background: #121212;
  z-index: 20;

  .left-bar {
    bottom: 0;
    margin-bottom: 90px;

    .social-items {
      a {
        color: #838383;
        margin-bottom: 20px;
        font-size: 20px;
        transition: all 0.4s;
      }

      a:hover {
        color: #baff00;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .left-bar-container {
    width: 70px;
  }
}

@media only screen and (max-width: 479px) {
  .left-bar-container {
    display: none;
  }
}

