<section class="services-container d-block">
  <div class="container px-3">
    <div class="main-title">
      <h2 class="d-inline-block mb-0 px-3 mx-1">Services</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-1" *ngFor="let service of services">
        <div class="service-card mb-4">
          <div class="icon-container text-center position-relative overflow-hidden">
            <div class="icon-img-container position-absolute">
              <img src="{{service.image}}" alt="" class="icon-img">
            </div>
          </div>
          <h3 class="fw-bold">{{service.title}}</h3>
          <p>{{service.text}}</p>
          <a href="{{service.link}}" class="read-more text-decoration-none fw-bold d-inline-block">READ MORE</a>
        </div>
      </div>
    </div>
  </div>
</section>
